/* Common Container */
.container {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 56px;
  margin-bottom: 80px;
}

.container article {
  width: 90.886%;
  margin-left: 48px;
}

/* Common Page Top Area */
.top-step-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-step-wrap .page-title {
  color: #252525;
  font-size: 20px;
  line-height: 28px;
}

.top-step-wrap .step-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-step-wrap .step-list li {
  color: #868686;
  font-size: 14px;
  line-height: 20px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-step-wrap .step-list li:last-child {
  margin-right: 0;
}

.top-step-wrap .step-list li::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  width: 10px;
  height: 10px;
  background: url(../img/icon_arrow_r_gray400_1.2px.png) no-repeat center;
  background-size: cover;
}

.top-step-wrap .step-list li:last-child::after {
  display: none;
}

.top-step-wrap .step-list i {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #f3f3f3;
  text-align: center;
  color: #868686;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  margin-right: 6px;
}

.top-step-wrap .step-list li.on {
  color: #252525;
  font-weight: 700;
}

.top-step-wrap .step-list li.on i {
  background: #4e4e4e;
  color: #fff;
}

/* Common Checkbox */
.container .checkbox input {
  appearance: none;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  width: 20px;
  height: 20px;
  background: url(../img/icon_check_gray400_1.6px.png) no-repeat center;
  background-size: 11px;
  margin: 0;
}

.container .checkbox input:checked {
  background-color: #f76e33;
  background-image: url(../img/icon_check_wt_1.6px.png);
  background-repeat: no-repeat;
}

/* Common Button */
.container .bk-bg-btn {
  border-radius: 4px;
  background: #252525;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.container .gray-border-btn {
  border-radius: 4px;
  border: 1px solid #c1c1c1;
  background: #fff;
  color: #252525;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

/* Common Notice */
.notice-wrap {
  margin-top: 40px;
  border-radius: 4px;
  background: #f9f9f9;
  padding: 20px 32px;
}

.notice-wrap li {
  color: #4e4e4e;
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.notice-wrap li:last-child {
  margin-bottom: 0;
}

.notice-wrap li::before {
  content: "";
  width: 3.5px;
  height: 3.5px;
  border-radius: 100%;
  background: #c1c1c1;
  margin-right: 4px;
}

/* Common List */
.common-list-wrap {
  border-radius: 8px;
  border: 1px solid #d7d7d7;
  margin-bottom: 20px;
}

.common-list-wrap .list-header {
  border-bottom: 1px solid #eaeaea;
  padding: 12px 20px;
  display: flex;
  align-items: center;
}

.common-list-wrap .list-header b {
  font-size: 16px;
  line-height: 24px;
  margin-left: 12px;
}

.common-list-wrap .list-body .checkbox {
  margin-right: 12px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common-list-wrap .list-body li {
  display: grid;
  grid-template-columns: calc(100% - 20.945%) 20.945%;
  border-bottom: 1px solid #eaeaea;
}

.common-list-wrap .text-wrap {
  display: grid;
  grid-template-columns: 52px 13.223% 42.952% 37.005%;
}

.common-list-wrap .thumb {
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 4px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  position: relative;
}

.common-list-wrap .thumb img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.common-list-wrap .work-info {
  padding: 20px 7.39% 20px 6.159%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
}

.common-list-wrap .work-info i {
  color: #868686;
  font-size: 13px;
  line-height: 18px;
}

.common-list-wrap .work-info b {
  font-size: 18px;
  line-height: 24px;
  margin: 6px 0 4px;
}

.common-list-wrap .work-info span {
  font-size: 14px;
  line-height: 18px;
}

.common-list-wrap .status {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.common-list-wrap .status i {
  height: 22px;
  padding: 0px 6px;
  border-radius: 4px;
  background: #fff;
  color: #4e4e4e;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}

.common-list-wrap .status i.orange-border {
  border: 1px solid #fbb89b;
  color: #f76e33;
}

.common-list-wrap .payment-info {
  padding: 20px 8.579%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-left: 1px solid #eaeaea;
}

.common-list-wrap .payment-info dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  width: 100%;
}

.common-list-wrap .payment-info dt {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.common-list-wrap .payment-info i {
  font-size: 12px;
  line-height: 16px;
}

.common-list-wrap .payment-info dd {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.common-list-wrap .payment-info .total {
  border-top: 1px solid #eaeaea;
  padding-top: 9px;
  margin-top: 4px;
}

.common-list-wrap .payment-info .total dt,
.common-list-wrap .payment-info .total dd {
  font-weight: bold;
}

.common-list-wrap .payment-noti {
  border-radius: 4px;
  background: #f3f3f3;
  font-size: 13px;
  line-height: 28px;
  height: 28px;
  padding: 0px 10px;
  margin-top: 10px;
}

.common-list-wrap .payment-noti:first-child {
  margin-top: 0;
}

.common-list-wrap .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 11.979%;
  border-left: 1px solid #eaeaea;
}

.common-list-wrap .buttons button {
  width: 100%;
  margin-bottom: 6px;
  height: 32px;
}

.common-list-wrap .buttons button:last-child {
  margin-bottom: 0;
}

.bottom-fix-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #252525;
  z-index: 99999;
  padding: 10px 0;
}

.bottom-fix-wrap .bottom-fix-container {
  max-width: 1280px;
  padding: 0 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.bottom-fix-wrap .bottom-fix-container button {
  border: none;
  border-radius: 4px;
  background: #f76e33;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  width: 336px;
  height: 52px;
}

.bottom-fix-wrap .bottom-fix-container .length {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #fff;
  color: #f76e33;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}

.bottom-fix-wrap .bottom-fix-container dl {
  display: flex;
  align-items: center;
}

.bottom-fix-wrap .bottom-fix-container dt {
  margin-right: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.bottom-fix-wrap .bottom-fix-container dt i {
  margin-right: 6px;
}

.bottom-fix-wrap .bottom-fix-container dt img {
  width: 20px;
}

.bottom-fix-wrap .bottom-fix-container dd {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  max-width: 558px;
}

.bottom-fix-wrap .bottom-fix-container dd span {
  /* max-width: 558px; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bottom-fix-wrap .bottom-fix-container dd a {
  margin-left: 6px;
}

.bottom-fix-wrap .bottom-fix-container dd img {
  width: 16px;
}

.bottom-fix-wrap .bottom-fix-container dd .arrow.on img {
  transform: rotate(180deg);
}

.bottom-fix-wrap .select-delivery {
  border-radius: 20px;
  border: 1px solid #4e4e4e;
  background: #fff;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.16);
  width: 486px;
  position: absolute;
  bottom: 54px;
  display: none;
}

.bottom-fix-wrap .select-delivery dl {
  padding: 16px 24px;
  border-bottom: 1px solid #f3f3f3;
}

.bottom-fix-wrap .select-delivery dl:last-child {
  border-bottom: none;
}

.bottom-fix-wrap .select-delivery dt {
  color: #252525;
  font-size: 15px;
  font-weight: 700;
  width: 85px;
}

.bottom-fix-wrap .select-delivery input {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #d7d7d7;
  background: #fff;
  margin: 0;
  margin-right: 8px;
  position: relative;
}

.bottom-fix-wrap .select-delivery input:checked {
  background: #f76e33;
  border-color: transparent;
}

.bottom-fix-wrap .select-delivery input:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #fff;
}

.bottom-fix-wrap .select-delivery dd {
  color: #252525;
  font-size: 15px;
  font-weight: 400;
  width: calc(100% - 101px);
  width: -webkit-calc(100% - 101px);
  width: -moz-calc(100% - 101px);
  width: -o-calc(100% - 101px);
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom-fix-wrap .select-delivery dd span {
  width: 286px;
  line-height: 21px;
  max-width: none;
  white-space: normal;
}

.bottom-fix-wrap .select-delivery dd b {
  font-size: 14px;
  font-weight: 700;
  margin-top: 4px;
}

.bottom-fix-wrap .select-delivery .gray-border {
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  color: #868686;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  margin-left: 0;
  padding: 0px 6px;
}

/* 02. 결제및 출고 요청-출고정보입력 */
.reservation-detail article {
  width: 100%;
  margin-left: 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.reservation-detail .layer-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 16px;
}

.reservation-detail .left-area {
  width: 64%;
}

.reservation-detail .left-area .info-wrap {
  border-bottom: 8px solid #f9f9f9;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.reservation-detail .input-text {
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  height: 46px;
  padding: 0px 16px;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.reservation-detail .input-text i {
  width: 20px;
  margin-right: 8px;
}

.reservation-detail .input-text i img {
  width: 100%;
}

.reservation-detail .input-text input {
  border: none;
  height: 100%;
  width: calc(100% - 28px);
  width: -webkit-calc(100% - 28px);
  width: -moz-calc(100% - 28px);
  width: -o-calc(100% - 28px);
}

.reservation-detail .date-info dl {
  margin-bottom: 24px;
}

.reservation-detail .date-info dt {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
}

.reservation-detail .date-info .select-time {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(6, 1fr);
}

.reservation-detail .date-info .select-time a {
  font-size: 15px;
  line-height: 21px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  padding: 0px 16px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation-detail .date-info .select-time a.on {
  background: #f76e33;
  border-color: transparent;
  color: #fff;
  font-weight: 500;
}

.reservation-detail .reservation-notice {
  margin-top: 10px;
}

.reservation-detail .reservation-notice li {
  color: #868686;
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 2px;
}

.reservation-detail .reservation-notice li:last-child {
  margin-bottom: 0;
}

.reservation-detail .reservation-notice li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 3.5px;
  height: 3.5px;
  border-radius: 100%;
  background: #c1c1c1;
}

.reservation-detail .left-area textarea {
  resize: none;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  min-height: 108px;
  padding: 12px 16px;
  font-size: 15px;
  width: 100%;
}

.reservation-detail .left-area textarea::placeholder {
  color: #868686;
  font-size: 15px;
  line-height: 21px;
}

.reservation-detail .left-area .length-info {
  margin-top: 8px;
  color: #868686;
  text-align: right;
  font-size: 12px;
  line-height: 18px;
}

.reservation-detail .left-area .notice-wrap {
  margin-top: 24px;
}

.reservation-detail .drop-list-wrap {
  border-radius: 4px;
  border: 1px solid #e2e2e2;
}

.reservation-detail .drop-list-wrap a {
  padding: 10px 16px;
  display: block;
  position: relative;
  border-bottom: 1px solid #f3f3f3;
}

.reservation-detail .drop-list-wrap .drop-head {
  position: relative;
  cursor: pointer;
}

.reservation-detail .drop-list-wrap .drop-head .icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}

.reservation-detail .drop-list-wrap .drop-head .icon img {
  width: 20px;
}

.reservation-detail .drop-list-wrap .length {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.reservation-detail .drop-list-wrap dl {
  display: flex;
  align-items: center;
  padding: 10px;
}

.reservation-detail .drop-list-wrap dt {
  width: 64px;
  height: 64px;
  border-radius: 4px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation-detail .drop-list-wrap dt img {
  max-width: 100%;
  max-height: 100%;
}

.reservation-detail .drop-list-wrap dd {
  width: calc(100% - 64px);
  width: -webkit-calc(100% - 64px);
  width: -moz-calc(100% - 64px);
  width: -o-calc(100% - 64px);
  padding-left: 16px;
}

.reservation-detail .drop-list-wrap span {
  font-size: 14px;
  line-height: 20px;
  display: block;
}

.reservation-detail .drop-list-wrap b {
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin-top: 2px;
}

.reservation-detail .drop-list-wrap .on-list {
  border-bottom: 1px solid #f3f3f3;
  display: none;
}

.reservation-detail .drop-body {
  display: none;
}

.reservation-detail .drop-body dl {
  border-bottom: 1px solid #f3f3f3;
}

.reservation-detail .drop-body dl:last-child {
  border-bottom: none;
}

.reservation-detail .right-area {
  width: 32%;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid #4e4e4e;
  position: sticky;
  top: 20px;
}

.reservation-detail .drop-list-wrap.on .icon {
  transform: translateY(-50%);
}

.reservation-detail .drop-list-wrap.on a {
  display: none;
}

.reservation-detail .drop-list-wrap.on .on-list {
  display: flex;
}

.reservation-detail .drop-list-wrap.on .drop-body {
  display: block;
}

.reservation-detail .right-area dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.reservation-detail .right-area dt,
.reservation-detail .right-area dd {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.reservation-detail .total-price {
  margin-bottom: 16px;
}

.reservation-detail .total-price dt {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.reservation-detail .total-price dd {
  color: #f76e33;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.reservation-detail .right-area button {
  height: 56px;
  border-radius: 4px;
  background: #f76e33;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  margin-top: 16px;
}

@media all and (max-width: 1280px) {
  .snb-wrap {
    display: none;
  }

  .container {
    padding: 0 20px;
  }

  .container article {
    margin-left: 0;
    width: 100%;
  }

  /* 02. 결제및 출고 요청-출고정보입력 */
  .reservation-detail .left-area .date-info .select-time {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media all and (max-width: 900px) {
  .container {
    padding: 0;
    margin-top: 0;
    background: #f3f3f3;
  }

  /* Common Page Top Area */
  .top-step-wrap {
    padding: 8px 20px 16px 20px;
    background: #fff;
  }

  .top-step-wrap .step-list li {
    margin-right: 0;
  }

  .top-step-wrap .step-list li::after {
    display: none;
  }

  .top-step-wrap .step-list span {
    display: none;
  }

  .common-list-wrap {
    border-radius: 0;
    border: none;
    width: calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: -o-calc(100% - 40px);
    margin: 0 auto 16px;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);
  }

  .common-list-wrap .list-header {
    padding: 12px 16px;
  }

  .common-list-wrap .list-header b {
    font-size: 14px;
    line-height: 20px;
  }

  .common-list-wrap .list-body li {
    display: block;
  }

  .common-list-wrap .text-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 16px;
    position: relative;
  }

  .common-list-wrap .list-body .checkbox {
    width: 100%;
    justify-content: start;
    padding-left: 0;
    padding-top: 12px;
    margin-bottom: 16px;
  }

  .common-list-wrap .work-info .lot-num {
    position: absolute;
    top: 13px;
    left: 48px;
  }

  .common-list-wrap .thumb {
    width: 80px;
    padding-top: 80px;
    margin: 0;
  }

  .common-list-wrap .work-info {
    padding: 0 16px 0;
    width: calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    width: -o-calc(100% - 80px);
  }

  .common-list-wrap .work-info b {
    font-size: 16px;
    line-height: 24px;
  }

  .common-list-wrap .work-info span {
    font-size: 13px;
    line-height: 18px;
  }

  .common-list-wrap .payment-info {
    padding: 0;
    width: 100%;
    border-left: none;
    margin-top: 16px;
  }

  .common-list-wrap .payment-info dt,
  .common-list-wrap .payment-info dd {
    font-size: 13px;
    line-height: 19px;
  }

  .common-list-wrap .payment-info .total {
    margin-top: 8px;
  }

  .common-list-wrap .payment-info .total dt,
  .common-list-wrap .payment-info .total dd {
    font-size: 16px;
    line-height: 24px;
  }

  .common-list-wrap .payment-noti {
    width: 100%;
    text-align: center;
  }

  .common-list-wrap .payment-noti:first-child {
    margin-top: 16px;
  }

  .common-list-wrap .buttons {
    padding: 16px;
    border-left: none;
    flex-direction: row-reverse;
  }

  .common-list-wrap .buttons button {
    margin-bottom: 0;
    border-radius: 4px;
    height: 36px;
    padding: 0px 16px;
    margin-right: 8px;
  }

  .common-list-wrap .buttons button:first-child {
    margin-right: 0;
  }

  .bottom-fix-wrap .bottom-fix-container {
    flex-wrap: wrap;
    padding: 12px 20px 10px 20px;
  }

  .bottom-fix-wrap .bottom-fix-container button {
    width: 100%;
    margin-top: 12px;
  }

  .bottom-fix-wrap .bottom-fix-container > div {
    width: 100%;
  }

  .bottom-fix-wrap .bottom-fix-container > div dl {
    justify-content: space-between;
  }

  .bottom-fix-wrap .bottom-fix-container > div dl dd {
    max-width: calc(100% - 90px);
    max-width: -webkit-calc(100% - 90px);
    max-width: -moz-calc(100% - 90px);
    max-width: -o-calc(100% - 90px);
  }

  .bottom-fix-wrap .bottom-fix-container > div dl dd span {
    max-width: calc(100% - 16px);
    max-width: -webkit-calc(100% - 16px);
    max-width: -moz-calc(100% - 16px);
    max-width: -o-calc(100% - 16px);
  }

  .bottom-fix-wrap .select-delivery {
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.16);
    border: none;
    width: 100%;
    bottom: 116px;
    left: 0;
    padding: 0px 20px 20px 20px;
  }

  .bottom-fix-wrap .select-delivery dl {
    padding: 16px;
  }

  .bottom-fix-wrap .select-delivery dd {
    align-items: start;
  }

  .bottom-fix-wrap .select-delivery dd span {
    width: calc(100% - 52px);
    width: -webkit-calc(100% - 52px);
    width: -moz-calc(100% - 52px);
    width: -o-calc(100% - 52px);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
  }
}
